﻿@using ProductManagement.Models.ViewModels
@model  ProductViewModel
@{
    ViewBag.Title = "Add Product";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Save","Product", FormMethod.Post))
{
    <div class="form-floating mb-3">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })

    </div>
    <div class="form-floating">
        @Html.LabelFor(p => p.Desc)
        @Html.TextBoxFor(p => p.Desc, new { @class = "form-control" })
    </div>
    <div class="form-floating">
        @Html.LabelFor(p => p.Price)
        @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Save" class="btn btn-primary"/>
}
