﻿@using ProductManagement.Models.ViewModels
@model  ProductViewModel
@{
    ViewBag.Title = "Edit Product";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    <div class="form-floating">
        @Html.LabelFor(p => p.Id)
        @Html.TextBoxFor(p => p.Id, new { @class = "form-control", @disabled = "disabled"})

    </div>
    <div class="form-floating">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })

    </div>
    <div class="form-floating">
        @Html.LabelFor(p => p.Desc)
        @Html.TextBoxFor(p => p.Desc, new { @class = "form-control" })
    </div>
    <div class="form-floating">
        @Html.LabelFor(p => p.Price)
        @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Update" class="btn btn-primary" />
}