﻿@using ProductManagement.Models.ViewModels
@model List<ProductViewModel>
@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Add Product","AddProduct", "Product", new { @class = "btn btn-primary justify-content-lg-end" })
<table id="products" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Desc</td>
                <td>$@product.Price</td>
                <td>
                    <input type="button" onclick="document.location.href='@Url.Content("~/Product/EditProduct/" + product.Id)'" class="btn btn-info" value="Edit" />
                    <input type="button" onclick="document.location.href='@Url.Content("~/Product/Delete/" + product.Id)'" class="btn btn-danger" value="Delete" />
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
</script>